{
    "singleQuote": false,
    "semi": true,
    "useTabs": true,
    "printWidth": 120,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "trailingComma": "all"
}
